
h1,h2,p{
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.site{
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
}

header{
  background: #f5f5f5;
  padding: 30px;
}

header h1, p{
  text-align: center;
}

section{
  margin-top: 20px;
}

section p{
  text-align: left;
}

section ul li{
  margin: 4px 4px 0;
}

